body { padding-top: 70px; }

#container div{
		float: left;
		padding: 10px 0;
	}

.card{
  border: 2px solid #333;
  border-collapse: collapse;
  float: left;
  width: 45%;
  margin: 0 24px 44px 0;
}

.card td{
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
  border: 2px solid #333;
  border-collapse: collapse;
}

.card td div{
  width: 100px;
  height: 100px;
  padding-top: 25px !important;
}

.card .header td{
  font-weight: bold;
  background-color: #eee;
  font-size: 60px;
  line-height: 50px;
}

.play{
  text-align: center;
  cursor: pointer;  
}

@media all {
  .page-break { display: none; }
}

@media print{
	.actions, dl, p, h1, .form, header, hr{
		display: none;
	}

	#container{
		margin-top: 10px;
    float: none;
	}

  .col-lg-12, .container, .row{
    float: none;
  }

	.row, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-1{
		margin: 0px;
	}

  .card{
    margin: 0 12px 80px 0 !important;
  }

  .card .header td div{
    line-height: 40px !important;
    padding-top: 10px !important;
  }

  .card tr{
    height: 58px !important;
  }

  .card td{
    width: 58px !important;
    height: 58px !important;
    line-height: 40px !important;
  }

  .card td div{
    width: 58px !important;
    height: 58px !important;
    padding-top: 10px !important;
    font-size: 30px;
  }

  .page-break { 
    display: block;
    page-break-before: always;
  }
}








@media screen and (min-width:1199px){
  .play{
    font-size: 400px;
  }
}

@media screen and (max-width: 1000px){
  #container div{
    width: 50%;
  }

  .play{
    font-size: 400px;
  }
}

@media screen and (max-width:900px){
  #container div{
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .play{
    font-size: 360px;
  }
}

@media screen and (max-width: 600px) {
  .play{
    font-size: 280px;
  }

  /* Retina-specific stuff here */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .play{
      font-size: 200px;
    }
  }
}

@media screen and (max-width: 450px) {
  .play{
    font-size: 200px;
  }
}